.slick-slide.slick-center img {
  margin-left: auto;
  margin-right: auto;
}

.slick-slide {
  padding: 0 15px;
}

.slick-list {
  margin: 0 2em;
}

.slick-prev {
  left: 0;
}
.slick-prev:before,
.slick-next:before {
  color: #000;
}
.slick-next {
  right: 0;
}

.slick-slide img {
  display: block;
  margin-top: 20px;
}
.slider p {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
}
.fooditem {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.fooditem .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(87, 89, 98);
}
.fooditem .text {
  max-height: 50px;
  overflow-y: scroll;
  font-size: 12px;
}
.fooditem .pricetext {
  box-sizing: border-box;
  color: rgb(230, 3, 75);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 8px;
}
.fooditem .image {
  border-radius: 3px;
  object-fit: cover;
  width: 100%;
  position: absolute;
  height: 100%;
}

.fooditem .imgcol {
  height: 100px;
  position: relative;
}
.menu {
  padding-top: 15px;
}
.menu .heading {
  text-align: center;
  box-sizing: border-box;
  color: rgb(230, 3, 75);
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  position: relative;
}
.menu .description {
  text-align: center;
  box-sizing: border-box;
  line-height: 22px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(87, 89, 98);
}
.subsection {
  margin-top: 12px;
}
.subsection p {
  font-size: 16px;
  margin: 10px 0px 20px 0px;
}
.accordion-button:not(.collapsed)::after {
  border-color: red;
}
.accordion-collapse {
  border: 1px solid red;
}

.form-control:focus {
  border-color: black !important;
  box-shadow: none !important;
}
.Soldout-Badge {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1;
}
.slider p {
  font-size: 16px;
  font-weight: 600;
}
.accordion p {
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(87, 89, 98);
}
.img-calorie {
  width: 5%;
  color: rgb(87, 89, 98);
}
.calorie p {
  color: rgb(87, 89, 98);
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
}

.menuDetail-Card .title {
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(87, 89, 98);
}

.menuDetail-Card .item-image {
  min-height: 300px;
  background-size: cover;
}

.menuDetail-Card .sub-title {
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  color: rgb(87, 89, 98);
}

.itemPrice {
  color: rgb(230, 3, 75);
  font-weight: 600;
  font-size: 16px;
}

.itemCalorie {
  color: rgb(87, 89, 98);
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
}
.feedbackSubmit-form p {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(87, 89, 98);
  margin-top: 12px;
}

.feedbackSubmit-form Button {
  background-color: rgb(230, 3, 75);
  color: rgb(255, 255, 255);
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgb(230, 3, 75);
  padding: 9px 12px;
  margin-top: 25px;
}

.feedbackSubmit-form {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.backarrow {
  background-color: white;
  border: none;
  position: absolute;
  z-index: 1;
}
