@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fullscreen-enabled .my-component {
  background: #fff;
}

.cursor {
  cursor: pointer;
}

.subItemsCards {
  padding: 0 !important;
}

.subItemsCards .description {
  justify-content: space-between;
}

.subItemsCards .hidden_text {
  height: 20px;
  overflow: hidden;
}

.subItemsCards .show_text {
  padding: 2px;
  background-color: #c03;
  color: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}

.subItemsCards .hidden_text.show {
  height: auto;
}

.subItemsCards .attributes {
  min-height: 30px;
  margin: 10px auto;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #319795;
  /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.heading {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

/* media query  */

@media only screen and (min-width: 900px) {
  #sideBar {
    bottom: "100%";
    right: 0;
    width: "100%";
    z-index: 3;
    position: fixed;
  }
}

@media only screen and (max-width: 900px) {
  #MyCart {
    width: 100%;
    align-self: center;
  }
}

/* Payment file css   */
.text-large {
  font-size: 22px;
  font-weight: 600;
}

/* Global Button  */
.Button {
  /* background-color: #8bd675; */
  background-color: #009997;
  color: #fff;
  width: 50%;
  border-radius: 10px;
  height: 35px;
}

.td-fontsize {
  font-size: 14px;
}

.loading-screen-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loading-spinner-modal {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 10px solid #319795;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-modal {
  top: 30%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modifier-name {
  font-size: 17px;
  font-weight: 500;
}
.modifier-heading {
  font-size: 17px;
  font-weight: 500;
}
